@import "tailwindcss";

:root {
  --primary-color: #025a4e;
  --secondary-color: #4b5f5a;
  --accent: #f1ede6;
}

::selection {
  background-color: var(--primary-color);
  color: var(--accent);
}

img {
  user-select: none;
  -webkit-user-drag: none;
}
